body{
	background-image: url('../hatter.jpg');
}
header{
	height: 80px;
}
a{
	width: auto;
}
#megallo{
	padding: 0;
	width: 80px;
	height: 80px;
}
#megjelenites{
	width: 90%;
	padding: 0;
}
#headerfelirat{
	color: white; 
	text-shadow: 3px 3px black; 
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 0;
	margin-left: 10px;
}
.carousel-inner img {
    width: 100%;
 }
.carouselfelirat{
	position: absolute; 
	bottom: 10px;
	background-color: rgb(60, 60, 60, 0.8); 
	color: white; 
	text-shadow: 2px 2px black; 
	width: 100%;
	color: white; 
	text-shadow: 2px 2px black;
	text-align: center;
}
.oldalcarousel{
	display: none; 
}
.kozepsocarousel{
	width: 100%;
}
.carouselkepek{
	width: 600px;
	height: 300px;
}
.carousel-indicators{
	bottom: -15px;
}
.body{
	background: lightgrey;
	min-height: 500px;
	border-bottom: 1px solid black;
	align-items: center;
}
.fa-phone{ 
	vertical-align: bottom;
}
.tel{
	padding-top: 10px;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}
#hivas{
	text-decoration: none; 
	width: auto; 
	font-size: 28px;
	vertical-align: top;
}
#szallitas{
	text-align: center; 
	font-size: 30px; color: red; 
	text-shadow: 1px 1px 1px black;
}
table{
	margin: 20px auto 10px;
	border-bottom: 1px solid black;
}
th{
	text-align: center;
	font-size: 30px;
	color: rgb(240, 240, 240);
	text-shadow: 3px 3px 3px black;
	background-image: url('nyitvatartas3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
td{
	font-size: 22px;
}
.ido{
	text-align: right;
	padding-left: 50px;
}
#nyitva{
	text-align: center;
	color: green;
	margin-bottom: 40px;
	text-shadow: 1px 1px grey;
}
#zarva{
	text-align: center;
	color: red;
	margin-bottom: 40px;
	text-shadow: 1px 1px black;
}
footer{
	background-color: rgb(52,58,64);
	height: 160px;
	position: relative;
	padding-top: 5px;
}
.fa-facebook {
	margin: 5px;
	padding: 10px;
  	font-size: 30px;
  	width: 50px;
  	text-align: center;
  	text-decoration: none;
	box-shadow: 5px 5px 10px black;
	vertical-align: top;
}
.fa-facebook:hover {
  	color: white;
	text-decoration: none;
	box-shadow: 1px 1px 10px black;
}
.fa-facebook {
  	background: rgb(59,89,152);
  	color: white;
}
#alkotodiv{
	color: white; 
	text-align: center; 
	position: absolute; 
	margin-left: auto;			
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 40px;
	font-size: 16px;
}
#alkoto{
	color: orange;
}
#copyright{
	color: white; 
	position:absolute;
	bottom: 8px; 
	right: 10px;
	font-size: 16px;
}